#header {
    margin: 20px;
    padding: 25px;
    text-align: center;
    background-color: lightblue;
}

.instructions {
    margin: 20px;
    padding: 25px;
    text-align: center;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#randomnumberbox {
    margin: 20px;
    padding: 25px;
    text-align: center;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#winsbox, #lossesbox {
    margin: 20px;
    padding: 25px;
    text-align: center;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.row {
    margin: 20px;
    padding: 25px;
    text-align: center;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#ytsbox {
    margin: 20px;
    padding: 25px;
    text-align: center;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#totalscorebox {
    margin: 20px;
    padding: 25px;
    text-align: center;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.button {
    background-color: gray;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}